@import url("./tokens.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./utilities.css");
@import url("./legacy.css");
[data-include="/tools/assets/partials/header.html"] {
  min-height: 84px;
}

[data-include="/tools/assets/partials/footer.html"] {
  min-height: 260px;
}